# use pip install -r requirements.txt
# if you get errors please just install them one after the other using pip

flask 
# pip install flask
pandas 
# pip install pandas
numpy
# pip install numpy
plotly
# pip install plotly
gunicorn
# pip install gunicorn

# i have already installed this in the terminal using pip all sucessful